<main>
    <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('./assets/img/bg/waves.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4 text-contrast mb-4">Pricing</h1>
                    <p class="lead text-contrast">Display your solution prices when it comes to a non-free product.</p>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid py-3 demo-blocks">
        <!-- ./Pricing Table -->
        <section class="block bg-contrast">
            <div class="container py-4">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Planes de precios <span class="bold d-block">asequibles</span></h2>
                        <p>Disponemos de subcripciones diferentes para cubrir tus necesidades</p>
                        <hr class="my-5">
                        <p class="handwritten font-md">¿Tienes dudas?</p>
                        <p>Puedes contactar con nosotros por correo eléctronico y te aconsejaremos sobre cuál se adapta mejor a tus necesidades</p><button class="btn btn-outline-info btn-rounded ml-0">Contacto</button>
                    </div>
                    <div class="col-sm-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <h4 class=""><span class="bold">Personal</span> plan</h4>
                                <p class="">For individuals &amp; small business</p>
                                <div class="pricing text-center">
                                    <p class="pricing-value mb-4"><span class="price">0.99</span></p><a href="#" class="btn btn-rounded btn-outline-secondary">I want this</a>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item strike-through">Cras justo odio</li>
                                <li class="list-group-item strike-through">Dapibus ac facilisis in</li>
                                <li class="list-group-item strike-through">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card shadow b b-3">
                            <div class="card-body">
                                <h4 class="text-primary"><span class="bold">Premium</span> plan</h4>
                                <p class="bg-primary text-contrast bold p-1 rounded">For enterprise team</p>
                                <div class="pricing text-center">
                                    <p class="pricing-value mb-4"><span class="price">19.99</span></p><a href="#" class="btn btn-rounded btn-primary">I want this</a>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item strike-through">Cras justo odio</li>
                                <li class="list-group-item strike-through">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./Pricing Table -->
    </div>
</main>