<div class="inline">
    <div class="text-right">
        <button routerLink="/menus" type="button" class=" btn btn-sm btn-primary"><i class="fas fa-chevron-left"></i> Volver</button>
    </div>
    <h4>
        Creador de cartas <small> Reactivo </small></h4>
</div>
<hr>
<div class="text-center" *ngIf="idTemp" style="font-size: 15px;">
    <span *ngIf="!activoTemp" style="font-size: 20px;font-weight: 100!important;padding: 10px!important;" class="badge badge-danger p-1" (click)="actualizarEstado(idTemp,activoTemp)">Carta inactiva</span>
    <span *ngIf="activoTemp" style="font-size: 20px;font-weight: 100!important;padding: 10px!important;" class="badge badge-success p-1" (click)="actualizarEstado(idTemp,activoTemp)">Carta activa</span>
</div>
<form [formGroup]="myForm" (ngSubmit)="crearMenu()" #f="ngForm">

    <div class="form-group">


        <!-- <input type="text" id="id" class="form-control" placeholder="Nombre de la carta..." name="id" formControlName="id" disabled> -->

        <label for="name">Nombre</label>
        <input type="text" id="name" class="form-control" placeholder="Nombre de la carta..." name="name" formControlName="name" required>

    </div>










    <div formArrayName="categorias">
        <div>
            <div class="card border-dark mb-3" *ngFor="let categoria of categoriaData.controls; let i=index">
                <fieldset>
                    <div class="card-header">

                        <div class="card-body text-dark">


                            <h5 class="card-title">Categoría {{i+1}}<button class="text-right" type="button" class="ml-3 btn btn-outline-danger btn-sm" (click)="deleteCategoria(i)">
                            <i class="far fa-trash-alt"></i> Eliminar Categoría
      </button>

                            </h5>

                        </div>

                    </div>
                    <hr class="mt-0">

                    <div [formGroupName]="i" class="mt-3 card-text p-3">

                        <div class="form-group row">
                            <input type="file" (change)="onUpload($event,i)" accept=".png, .jpg,.jpeg">
                            <label class="col-lg-2 col-form-label" for="categoria"></label>
                            <input type="text" class="form-control" name="img" formControlName="img" placeholder="ruta img">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="categoria" placeholder="Nombre de la categoría..." name="type" formControlName="categoria" style="margin-right:5px;" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="descripcion">Descripción de la categoría</label>
                            <div class="col-lg-10">
                                <textarea type="text" class="form-control" id="descripcion" placeholder="Introduzca aquí una breve introducción de la categoría..." name="type" formControlName="descripcion" style="margin-right:5px;"></textarea>
                            </div>

                            <hr>

                            <div class="p-3 col-12">
                                <div class="row p-3">
                                    <h5 class=" col-12 cabecera text-sm-center p-2 mb-0">Platos en esta categoría</h5>
                                    <div class="table-responsive">
                                        <table class="table table-striped mt-0" style="border-bottom:1px solid #eee">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Título</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col">Precio</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="platos">
                                                <tr [formGroupName]="j" style="margin-top:5px; margin-bottom:5px;" *ngFor="let lines of categoria.get('platos').controls; let j=index">


                                                    <th scope="row" class="align-middle font-weight-normal">{{j+1}}</th>
                                                    <td><input formControlName="plato" class="form-control" type="text" placeholder="Nombre del plato" id="plato" name="plato" /></td>

                                                    <td>
                                                        <div class="input-group">
                                                            <input formControlName="precio" class="form-control" type="number" placeholder="Precio del plato" id="precio" name="precio" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">€</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <button style="margin-right:5px;" type="button" class="btn  btn btn-outline-danger btn-sm" (click)="deletePlato(categoria.controls.platos, j)">
                                                    <i class="fas fa-eraser"></i>
                                                  </button>

                                                        <span class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</span>
                                                    </td>



                                                    <ng-template #content let-c="close" let-d="dismiss">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
                                                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input formControlName="descripcion" class="form-control" type="text" placeholder="Descripción del plato" id="descripcion" name="descripcion" />
                                                            <div>
                                                                <h6>Alérgenos</h6>
                                                                <input type="checkbox" formControlName="cereal">
                                                                <input type="checkbox" formControlName="crustaceo">
                                                                <input type="checkbox" formControlName="huevo">
                                                                <input type="checkbox" formControlName="pescado">
                                                                <input type="checkbox" formControlName="cacahuete">
                                                                <input type="checkbox" formControlName="soja">
                                                                <input type="checkbox" formControlName="lacteo">
                                                                <input type="checkbox" formControlName="frutoseco">
                                                                <input type="checkbox" formControlName="apio">
                                                                <input type="checkbox" formControlName="mostaza">
                                                                <input type="checkbox" formControlName="sesamo">
                                                                <input type="checkbox" formControlName="sulfito">
                                                                <input type="checkbox" formControlName="altramuz">
                                                                <input type="checkbox" formControlName="molusco">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
                                                        </div>
                                                    </ng-template>
                                                </tr>




                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row mx-auto">
                                <button type="button" class="btn btn-primary btn-sm" (click)="addNewPlato(categoria.controls.platos)">
                            <i class="fa fa-plus"></i> Añadir un nuevo plato
                      </button>
                            </div>
                        </div>









                    </div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-12">
                <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-outline-primary btn-sm" (click)="addNewCategoria()">
          <span class="fa fa-plus" aria-hidden="true"></span> Añadir Categoría
        </button>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 mt-5">

            <button type="submit" class="btn btn-success mr-2">Guardar</button>
            <button routerLink="/menus" type="button" class="btn btn-outline-danger">Cancel</button>

        </div>
    </div>
</form>

<div>

    <pre>{{myForm.value | json}}</pre>
</div>