<div *ngFor="let menu of _menusService.menuUsr">
    <div class="mt-5" *ngFor="let categoria of menu.categorias;let m = index">
        <div class="text-center">
            <h4 class="mb-3"> {{categoria.categoria}}</h4>
        </div>
        <div class="table-responsive">
            <table class="table" style="width: 100%;border-top: 0px solid white!important;">
                <tbody style="border-top: 0px solid white!important;">
                    <tr *ngFor="let plato of categoria.platos;let p = index">
                        <th (click)="noDisponible(m,p,plato.activo)" class="will_table" style="width: 60%;" [ngClass]="{'will_tachado' : !plato.activo}">{{plato.plato}}</th>
                        <td class="text-right will_table will_precio" style="width: 20%;">{{plato.precio}} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>