<form [formGroup]="usuarioForm" (ngSubmit)="actualizarUsrSettings()" #f="ngForm">

    <label for="name">Nombre</label>
    <input type="text" id="nombre" class="form-control" placeholder="Nombre de la carta..." name="nombre" formControlName="nombre" required>
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" placeholder="Nombre de la carta..." name="email" formControlName="email" disabled>
    <label for="adminStatus">Protección admin</label>
    <div class="inline">
        <input type="checkbox" id="adminStatus" class="form-control" placeholder="Nombre de la carta..." name="adminStatus" formControlName="adminStatus">
        <input type="password" *ngIf="this.usuarioForm.value.adminStatus" id="adminPwd" class="form-control" placeholder="Nombre de la carta..." name="adminPwd" formControlName="adminPwd">
        <img [src]="usuario.img">
        <input type="file" (change)="onUploadLogo($event)" accept=".png, .jpg, .jpeg">
        <button type="submit" class="btn btn-outline-success">Actualizar datos</button>
    </div>
</form>
<!-- {{usuarioForm.value|json}} -->